body{
   font-family: 'Rajdhani', sans-serif;
}
header {
   background: url("rodapé.png");
}
.cabecalho {
   position: relative;
   width: 940px;
   margin: 0 auto; 
}
.logo{
   height: 220px;
}
nav {
   position: absolute;
   top: 110px;
   right: 0;
}   
nav li {
   display: inline;
   margin: 0 0 0 15px;
}
nav a {
   text-transform: uppercase;
   color: #000000;
   font-weight: bold;
   font-size: 30px;
   text-decoration: none;
}
nav a:hover {
   color: #00BFFF;
} 
main{
   background: #FFFFFF;
}
.centro  {
   margin-top: 25px;
   text-align: center;
   font-size: 35px;
}
.paragrafo {
   text-align: center;
   padding-left: 30px;
   font-size: 25px;
   margin: 25px;
}
ol {
   margin-left: 30px;
   font-size: 25px;
   font-style: italic;
   display: inline-block;
   vertical-align: top;
   width: 20%;
   margin-right: 5%;
   margin-left: 17%;
}
ol h3 {
   font-weight: bold;
   text-align: center;
   font-size: 27px;
}
.horarios{
   width: 940px;
   margin: 50px auto;
}
.horario{
   font-size: 27px;
}
 
.horarios li {

   display: inline-block;
   text-align: center;
   width: 30%;
   vertical-align: top;
   margin: 0 1.5%;
   padding: 30px 20px;
   box-sizing: border-box;
   border-color: #000000;
   border-width: 2px;
   border-style: solid;
   border-radius: 10px;
}

.horarios li:hover{
   border-color: #00BFFF;
}

.horarios li:active{
   border-color: #00BFFF;
}
.horarios li:hover h2 {
  font-size: 34px;
}

.horarios h2{
   font-size: 35px;
   font-weight: bold;
}

.horarios img {
  width: 100%;
  height: 140px;
}

.hora{
   font-size: 30px;
}
.idades {
   font-size: 30px;
}

.horario {
   font-size: 22px;
   font-weight: bold;
   margin-top: 10px;
}

.mapa{
   padding: 3em 0;
}
.mapac{
  width: 940px;
}

footer {
   text-align: center;
   background: #4F4F4F;
   background: url("rodapé.png");
   padding: 40px 0;
}
.Copyright {
   color: #FFFFFF;
   font-size: 15px;
   margin: 20px 0 0;
}
@media screen and (max-width: 480px) {
   .cabecalho, .logo, .centro, .paragrafo, ol, ol h3, .video, .mapa, .mapac  {
      width: ;
   }
   h1 {
      text-align: center;
   }  
   nav {
      text-align: center;
      position: static;
   }
   header{
      width: ;
   }
}
